<div class="d-flex mt-5 mb-5 rounded" id="set-margin">
  <div class="main-div m-0 p-0" style="background-color: #f0f3f7;" >
    <div class="banner">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <h5>Adjust your account details</h5>
      <hr class="solid">
    </div>

    <div class="div-content">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

            <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="form-actions d-inline">
            <%= f.button :submit, "Update", class: "button-primary" %>
            <%= link_to "Cancel my account", registration_path(resource_name), class: "button-secondary btn m-2", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          </div>
      <% end %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
