<div class="navigation__bar navbar-expand-sm">
  <%= link_to "/", class:"navigation__bar__left" do %>
    <span class="forum__logo__text">COLLECTIVERSE</span>
  <% end %>
  <div class="search__bar__placeholder">
    <%= form_tag root_path, method: :get, class: "navbar-form" do %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <i class="fa-solid fa-magnifying-glass search__icon"></i>
    <% end %>
  </div>
  <div class="navigation__bar__right">
    <% if user_signed_in? %>
      <%= link_to "#", class: "nav__item nav__icon", data: { bs_toggle: "collapse" }, href:"#collapsePost", role:"button", 'aria-expanded':"false", 'aria-controls':"collapsePost" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
      <%= link_to "#", class: "nav__item nav__icon", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <i class="fa-solid fa-envelope"></i>
      <% end %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Notification", "/sales", class: "dropdown-item" %>
        <%= link_to "Message", "/purchases", class: "dropdown-item" %>
      </div>
       <%= link_to "#", class: "nav__item nav__icon", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <i class="fa-solid fa-bell"></i>
      <% end %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= render "notifications/notifications", user: current_user %>
      </div>
    <%= link_to "#", class: "profile__button", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "profile__avatar" %>
    <% else %>
      <%= image_tag "https://mcdn.wallpapersafari.com/medium/92/63/wUq2AY.jpg", class: "profile__avatar" %>
    <% end %>
    <span class="profile__text"><%= current_user.username %></span>
    <i class="fa-solid fa-circle profile__online__status"></i>
    <% end %>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown__label static__text">Your Profile</span>
        <%= link_to "Profile", user_path(current_user), class: "dropdown-item dropdown__list static__text" %>
        <div class="line__border"></div>
        <span class="dropdown__label static__text">Accessibility</span>
        <% if cookies[:theme] == "light" %>
          <%= link_to "Dark Mode", root_path(theme: "dark"), class:"dropdown-item dropdown__list static__text" %>
        <% else %>
          <%= link_to "Light Mode", root_path(theme: "light"), class:"dropdown-item dropdown__list static__text" %>
        <% end %>
        <div class="line__border"></div>
        <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item static__text") %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn button__login nav__item" %>
    <% end %>
  </div>
</div>
