<div class="index__banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static1.thegamerimages.com/wordpress/wp-content/uploads/2020/02/Warhammer-40k-Featured-Image.jpg?q=50&fit=contain&w=1140&h=570&dpr=1.5);">
  <div class="banner__text">
    <span class="banner__logo__text">COLLECTIVERSE</span>
    <span class="banner__sub__text">A Universe for Collectors!</span>
  </div>
</div>
<div class="site__content">
  <div class="site__content__left">
    <div class="sticky__board"><%= render "shared/current__profile" %></div>
  </div>
  <div class="site__content__center">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do  %>
        <div class="posts__forum__container">
          <div class="card forum__post">
            <div class="card-body forum__post__content">
              <h5 class="card-title static__text"><%= post.title %></h5>
              <p class="card-text static__text" style="width: 85%;"> <%= post.content.truncate(130) %></p>
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex flex-wrap justify-content-start align-items-center">
                  <div class="px-2 pt-3 static__text"><span class="align-middle"><%= post.category.name.capitalize %></span></div>
                  <div class="px-2 pt-3 static__text"><span class="align-middle">·</span></div>
                  <div class="px-2 pt-3 static__text"><span class="align-middle"><%= post.comments.size %> comments </span></div>
                  <div class="px-2 pt-3 static__text"><span class="align-middle">·</span></div>
                  <div class="px-2 pt-3 static__text"><span class="align-middle"> <%= post.karma %> kudos</span></div>
                </div>
                <div class="d-flex flex-wrap justify-content-end align-items-center">
                  <div class="notification">
                    <div class="notification-content">
                      <p class="static__text"><strong><%= post.user.username %></strong></p>
                      <p class="static__text"><small><%= distance_of_time_in_words_to_now(post.created_at) %></small></p>
                    </div>
                    <% if post.user.photo.attached? %>
                      <%= cl_image_tag post.user.photo.key, class: "forum__post__content__avatar", alt: "avatar-large"  %>
                    <% else %>
                      <%= image_tag "https://mcdn.wallpapersafari.com/medium/92/63/wUq2AY.jpg", class: "forum__post__content__avatar", alt: "avatar-large" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% end %>
        </div>
    <% end %>
  </div>
  <div class="site__content__right">
    <%= render "shared/categories" %>
    <%= render "shared/users" %>
    <%= render "shared/traders" %>
  </div>
</div>
