<div class="index__banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static1.thegamerimages.com/wordpress/wp-content/uploads/2020/02/Warhammer-40k-Featured-Image.jpg?q=50&fit=contain&w=1140&h=570&dpr=1.5);">
  <div class="banner__text">
    <span class="banner__logo__text">COLLECTIVERSE</span>
    <span class="banner__sub__text">A Universe for Collectors!</span>
  </div>
</div>
<div class="site__content">
  <div class="site__content__left">
    <div class="sticky__board"><%= render "shared/current__profile" %></div>
  </div>
  <div class="site__content__center">
    <%= render "shared/forum_post" %>

    <div class="posts__container">
      <% Post.order('karma DESC').all.each do |post| %>
        <%= link_to post_path(post) do  %>
          <div class="post__container">
            <div class="post__content text__black">
              <span class="content__title"><%= post.title %></span>
              <div class="content__description">
                <span class="content__desc__item"><%= post.user.username %> in <%= post.category.name.capitalize %></span>
                <span class="content__desc__item static__text"><%= distance_of_time_in_words_to_now(post.created_at) %> ago</span>
                <span class="content__desc__item">
                  <%= link_to '<i class="fa-solid fa-up-long"></i>'.html_safe, like_post_path(post), data: { "turbo-method": :put } %>
                  <span class="m__font static__text"><%= post.karma %></span>
                  <%= link_to '<i class="fa-solid fa-down-long"></i>'.html_safe, dislike_post_path(post), data: { "turbo-method": :put } %>
                </span>
                <span class="content__desc__item static__text">
                  <% if post.comments.blank? %>
                  No comment yet
                  <% elsif post.comments.count == 1 %>
                  1 comment
                  <% else %>
                  <%= post.comments.count %> comments
                  <% end %>
                </span>
              </div>
            </div>
            <div class="line__border"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="site__content__right">
    <%= render "shared/categories" %>
    <%= render "shared/users" %>
    <%= render "shared/traders" %>
  </div>
</div>
