<div class="index__banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static1.thegamerimages.com/wordpress/wp-content/uploads/2020/02/Warhammer-40k-Featured-Image.jpg?q=50&fit=contain&w=1140&h=570&dpr=1.5);">
  <div class="banner__text">
    <span class="banner__logo__text">COLLECTIVERSE</span>
    <span class="banner__sub__text">A Universe for Collectors!</span>
  </div>
</div>
<div class="site__content">
  <div class="site__content__left">
    <div class="sticky__board"><%= render "shared/current__profile" %></div>
  </div>

  <div class="site__content__center">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do  %>
      <div class="posts__container">
        <span class="xxl__font static__text content__title"><%= post.title %></span>
        <span class="m__font static__text"><%= post.content.truncate(130) %></span>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="d-flex flex-wrap justify-content-start align-items-center">
            <div class="content__desc__item static__text l__font"><%= post.category.name.titleize %>
            &nbsp;·&nbsp;<%= post.comments.size %> comments
            &nbsp;·&nbsp;<%= post.karma %> kudos</div>
          </div>
          <span class="static__text"><strong><%= post.user.username %></strong></span>
          <span class="static__text"><%= distance_of_time_in_words_to_now(post.created_at) %></span>
        </div>
        <% if post.user.photo.attached? %>
          <%= cl_image_tag post.user.photo.key, class: "forum__post__content__avatar", alt: "avatar-large"  %>
        <% else %>
          <%= image_tag "https://mcdn.wallpapersafari.com/medium/92/63/wUq2AY.jpg", class: "forum__post__content__avatar", alt: "avatar-large" %>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="site__content__right">
    <%= render "shared/categories" %>
    <%= render "shared/users" %>
    <%= render "shared/traders" %>
  </div>
</div>
