<div class="card ml-5">
  <div class="card-body">
    <%= form_with(model: [@comment, @subcomment]) do |f| %>
      <%= f.hidden_field :subcomment %>
      <div class="form-group">
        <%= f.label 'Reply' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn_primary' %>
      <%= link_to 'Cancel', post_path(@post), class: 'btn btn_secondary' %>
    <% end %>
  </div>
</div>
