<div class="d-flex mt-5 mb-5 rounded full-page" id="set-margin">
  <div class="main-div m-0 p-0" style="background-color: #f0f3f7;" >
    <div class="banner">
      <h2>New post</h2>
      <h5>Lorem ipsum dolor sit.</h5>
      <hr class="solid">
    </div>

    <div class="div-content">
      <%= simple_form_for @category do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.input :photo %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
