<div class="d-flex" id="set-margin">
  <div class="create__post__content__middle" >
    <div class="create__post__box">
      <h2 class="registration__box__text">Create your a post</h2>
      <hr class="solid">

      <div class="div-content">
        <%= simple_form_for @post do |f| %>
          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.association :category  %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }%>
          </div>
          <div class="form-actions d-flex align-items-center">
          <button onclick="history.back()" class="button__cancel">Cancel</button>
          <%= f.button :submit, class: "button_primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
