<div class="card mt-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <h1 class="text-center"><%= @post.title %></h2>

    <hr >

    <div class="my-4">
      <%= simple_format(@post.content) %>
    </div>

    <%= link_to 'Back', categories_path, class: 'btn btn-light' %>
  </div>
</div>
<div class="card my-1" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div class="card-body" data-insert-in-list-target="items">
  <h2 data-insert-in-list-target="count"> <%# Does not update yet.... %>
    <%= pluralize @post.comments.size, "comment" %>
  </h2>
    <% if @post.comments.blank? %>
      Be the first to leave a comment for <%= @post.title %>
    <% else %>
      <% @post.comments.each do |comment| %>
        <div data-controller="reply-subcomment">
          <div data-controller="insert-subcomment-in-list" data-insert-subcomment-in-list-position-value="beforeend">
            <%= render 'posts/comment', comment: comment %>
            <div data-insert-subcomment-in-list-target="subcomments">
              <% comment.subcomments.each do |subcomment| %>
                <%= render 'posts/subcomment', subcomment: subcomment %>
              <% end %>
            </div>
            <%= render "subcomments/form", comment: comment, subcomment: @subcomment %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render "comments/form", post: @post, comment: @comment %>
</div>
