<div class="full__site__content">
  <div class="post__site__content">
    <div class="site__content__left">
      <div class="posts__container">
        <div class="post__data">
          <span class="post__item static__text xxl__font"><strong><%= @post.title %></strong></span>
          <span class="post__item l__font"><%= link_to @post.user.username, user_path(@post.user) %>
          &nbsp;<strong>·</strong>&nbsp;<%= link_to @post.category.name.capitalize, category_path(@post.category) %>
          &nbsp;<strong>·</strong>&nbsp;<span class="static__text"><%= distance_of_time_in_words_to_now(@post.created_at) %> ago</span></span>
        </div>
        <span class="post__item static__text m__font"><%= @post.content %></span>
        <div class="comments__container">
          <%= link_to '<i class="fa-solid fa-up-long"></i>'.html_safe, like_post_path, data: { "turbo-method": :put } %>
          <span class="static__text m__font"><%= @post.karma %></span>
          <%= link_to '<i class="fa-solid fa-down-long"></i>'.html_safe, dislike_post_path, data: { "turbo-method": :put } %>
          <div class="post__comment" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
            <div data-insert-in-list-target="items" data-comments-counter-controller="comments">
              <%= render "comments/form", post: @post, comment: @comment %>
            </div>
          </div>
          <div class="line__border"></div>
          <% if @post.comments.blank? %>
            <span class="static__text m__font">Be the first to leave a comment!</span>
          <% else %>
            <div class="comments__box">
            <% if @post.comments.count == 1 %>
              <span class="static__text m__font">1 comment</span>
            <% else %>
              <span data-insert-in-list-target="count" class="static__text m__font"><%= pluralize @post.comments.size, "comments" %></span>
            <% end %>
            </div>
          <div class="comments__big__box">
            <div class="comments_box">
              <% @post.comments.each do |comment| %>
                <div data-controller="reply-subcomment">
                  <div data-controller="insert-subcomment-in-list" data-insert-subcomment-in-list-position-value="beforeend">
                    <%= render 'posts/comment', comment: comment %>
                    <div class="comments__big__box">
                      <div class="comments_box">
                      <div data-insert-subcomment-in-list-target="subcomments">
                        <% comment.subcomments.each do |subcomment| %>
                          <%= render 'posts/subcomment', subcomment: subcomment %>
                        <% end %>
                        </div>
                      </div>
                    </div>
                    <%= render "subcomments/form", comment: comment, subcomment: @subcomment %>
                </div>
              </div>
                <% end %>
            </div>
          </div>
              <% end %>
        </div>
      </div>
    </div>
    <div class="site__content__right">
      <%= render "shared/post__category" %>
      <%= render "shared/categories" %>
      <%= render "shared/users" %>
      <%= render "shared/traders" %>
    </div>
  </div>
</div>
