<div class="full__site__content">
  <div class="post__site__content">
    <div class="site__content__left">
      <div class="posts__container">
        <span class="post__title"><%= @post.title %></span>
        <span class="post__uname"><%= link_to @post.user.username, '/profile' %> · <%= link_to @post.category.name.capitalize, category_path(@post.category) %> · <%= distance_of_time_in_words_to_now(@post.created_at) %> ago</span>
        <span class="post__show__content"><%= @post.content %></span>
        <div class="comments__container">
          <div class="post__comment" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
            <div data-insert-in-list-target="items" data-comments-counter-controller="comments">
              <%= render "comments/form", post: @post, comment: @comment %>
            </div>
          </div>
          <div class="line__border"></div>
          <% if @post.comments.blank? %>
            Be the first to leave a comment!
          <% else %>
          <% if @post.comments.count == 1 %>
          <div class="comments__box">
            1 comment
          </div>
          <% else %>
          <div class="comments__box">
            <span data-insert-in-list-target="count"> <%# Does not update yet.... %>
              <%= pluralize @post.comments.size, "comments" %>
            </span>
          </div>
          <% end %>
          <div class="comments__big__box">
            <div class="comments_box">
              <% @post.comments.each do |comment| %>
                <div data-controller="reply-subcomment">
                  <div data-controller="insert-subcomment-in-list" data-insert-subcomment-in-list-position-value="beforeend">
                    <%= render 'posts/comment', comment: comment %>
                    <div class="comments__big__box">
                      <div class="comments_box">
                      <div data-insert-subcomment-in-list-target="subcomments">
                        <% comment.subcomments.each do |subcomment| %>
                          <%= render 'posts/subcomment', subcomment: subcomment %>
                        <% end %>
                        </div>
                      </div>
                    </div>
                    <%= render "subcomments/form", comment: comment, subcomment: @subcomment %>
                </div>
              </div>
                <% end %>
            </div>
          </div>
              <% end %>
        </div>
      </div>
    </div>
    <div class="site__content__right">
      <%= render "shared/post__category" %>
      <%= render "shared/categories" %>
      <%= render "shared/users" %>
      <%= render "shared/traders" %>
    </div>
  </div>
</div>
