<div class="container full-page">
  <div class="post_stack d-flex mt-5 mb-5 rounded col-12" id="set-margin">
    <div class="post_stack__aside m-0 p-0" >
      <div class="post_stack__header">
        <h2><%= @post.title %></h2>
        <hr class="solid">
      </div>

      <div class="post_stack__content">
        <%= @post.content %>
      </div>
    </div>

    <div class="post_stack d-flex mt-5 mb-5 rounded col-12">
    <div class="post_stack__aside m-0 p-0" >
      <div class="post_stack__header">
        <h2>Images</h2>
        <hr class="solid">
      </div>

      <div class="post_stack__content">
        <% if @post.photos.attached? %>
          <%= cl_image_tag @post.photos.first.key, height: "300px", class: "card-img-top" %>
        <% else %>
          <%= image_tag "logo.png", height: "150px" %>
        <% end %>
        <%# change into a loop over the images, because post can have many images %>
      </div>
    </div>

  <div data-controller="insert-in-list"  data-controller="insert-subcomments-in-list"  data-insert-in-list-position-value="beforeend">
    <div data-insert-in-list-target="items" data-insert-subcomments-in-list-target="items-subcomment">
      <h2><%= pluralize @post.comments.size, "comment" %></h2>
      <div>
        <% if @post.comments.blank? %>
          Be the first to leave a comment for <%= @post.title %>
        <% else %>
          <% @post.comments.each do |comment| %>
            <%= render 'comment', comment: comment %>
            <% comment.subcomments.each do |subcomment| %>
              <%= render 'subcomment', subcomment: subcomment %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render "comments/form", post: @post, comment: @comment %>
  </div>

  <%= link_to "Back to all posts", posts_path %>
</div>
