<div class="site__content">
  <div class="site__content__left">
    <%= render "shared/current__profile" %>
  </div>
  <div class="site__content__center">
    <div class="post__container">
        <% Category.all.each do |category| %>
        <%= link_to category_path(category) do  %>
        <div class="post__container">
          <div class="post__content">
            <span class="category__title"><%= category.name %></span>
          </div>
          <div class="line__border"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="site__content__right">
    <%= render "shared/categories" %>
    <%= render "shared/users" %>
    <%= render "shared/traders" %>
    <%# Hello Codes %>
  </div>
</div>
