<div class="site__content">

  <div class="site__content__left">
    <div class="board sticky__board">
      <% if user_signed_in? %>
      <div class="board__container">
        <span class="board__main__text"><%= @category.name %></span>
        <div class="line__border"></div>
        <div class="board__sub">
          <div class="board__sub__container">
            <span class="sub__main__text"><%= @category.posts.count %> </span>
            <span class="sub__title__text"> Posts </span>
          </div>
          <div class="board__sub__container">
            <span class="sub__main__text"> <%= User.count %> </span>
            <span class="sub__title__text"> Users </span>
          </div>
        </div>
      </div>
      <div class="board__profile__image" style="background-image: url(https://fixthephoto.com/images/content/toy-photography-tips-3.jpg);">
      </div>
      <% else %>
      <div class="board__container">
        <span class="board__main__text">Home Page</span>
        <span class="board__main__text"><%= link_to "Login", new_user_session_path, class: "btn button__login nav__item" %></span>
      </div>
      <% end %>
    </div>
  </div>

  <div class="site__content__center">
    <div class="posts__container">
      <% Post.all.each do |post| %>
      <%= link_to post_path(post) do  %>
        <div class="post__container">
          <div class="post__content text__black">
            <span class="content__title"><%= post.title %></span>
            <div class="content__description">
              <span class="content__user__and__category"><%= post.user.username %> in <%= post.category.name %></span>
              <span class="content__date"><%= post.created_at %></span>
            </div>
          </div>
        <div class="line__border"></div>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>

  <div class="site__content__right">
    <div class="board">
      <div class="board__container">
        <span class="board__main__text">Top Categories</span>
        <div class="line__border"></div>
        <div class="board__content">
          <% Category.all.first(10).each do |category| %>
          <%# logic might need to be changed %>
            <%= link_to category_path(category) do  %>
            <span , class="text__black board__content__text"><%= category.name %></span>
            <% end %>
          <% end %>
        </div>
        <div class="line__border"></div>
        <%= link_to 'All Categories', categories_path, class: "text__black board__additional__button" %>
      </div>
    </div>
    <div class="board">
      <div class="board__container">
        <span class="board__main__text">Top Users</span>
        <div class="line__border"></div>
        <div class="board__content">
          <% User.all.first(10).each do |user| %>
          <%# logic might need to be changed %>
            <%# <%= link_to user_path(user) do  %>
            <span class="board__content__text"><%= user.username %> - 2.3k Karma</span>
            <%# <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="board__container">
        <span class="board__main__text">Top Traders</span>
        <div class="line__border"></div>
        <div class="board__content">
          <% User.all.first(10).each do |user| %>
          <%# logic might need to be changed %>
            <%# <%= link_to user_path(user) do  %>
            <span class="board__content__text"><%= user.username %> - 5k Trades</span>
            <%# <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
