<div class="full__site__content">
  <div class="site__content">
    <div class="site__content__left">
      <div class="sticky__board"><%= render "shared/current__profile" %></div>
    </div>
    <div class="site__content__center">
      <div class="form__container">
        <%= link_to "#collapsePost", class: "header__font form__main__text", data: { bs_toggle: "collapse" }, 'aria-controls':"collapsePost" do %>
          <strong>CREATE A POST IN <%= @category.name.upcase %></strong>
        <% end %>
        <div class="collapse" id="collapsePost">
          <div class="line__border"></div>
          <div data-controller="character-counter">
            <%= simple_form_for @post do |f| %>
              <div class="form__input__container">
                <div class="left__input__container">
                  <%= f.input :title, placeholder: "Title", label: false %>
                  <%= f.input :content, as: :text, placeholder: "Post something and get more Kudos!", label: false, input_html: { data: { character_counter_target: "input" } } %>
                  <span data-character-counter-target="counter"></span>/20.000
                  <%= f.input :category_id, as: :hidden, input_html: {value: @category.id} %>
                </div>
                <div class="right__input__container">
                  <%= f.drag_and_drop_file_field :images, 'Drag here to upload or click here to browse', size_limit: 8_000_000 %>
                </div>
              </div>
              <div class="line__border"></div>
              <%= f.button :submit, class: "button__secondary", style:"margin-top: 12.5px"%>
            <% end %>
          </div>
        </div>
      </div>
      <% @category.posts.each do |post| %>
        <%= render partial: 'posts/thumbnail', locals: { post: post } %>
      <% end %>
    </div>
    <div class="site__content__right">
      <%= render "shared/categories" %>
      <div class="board__gap"></div>
      <%= render "shared/users" %>
    </div>
  </div>
</div>
