<div class="site__content">
  <div class="site__content__left">
    <%= render "shared/category" %>
  </div>
  <div class="site__content__center">
      <div class="form__container">
        <h2>Create a new post</h2>
       <%= simple_form_for @post do |f| %>
          <div class="form__inputs">
            <%= f.input :title, placeholder: "Title" %>
            <%= f.input :content, as: :text, placeholder: "What is troubling you about #{@category.name}" %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.input :category_id, as: :hidden, input_html: {value: @category.id} %>
            <%= f.button :submit, class: "btn button__login" %>
          </div>
        <% end %>
      </div>
    <div class="posts__container">
      <% Post.order('karma DESC').all.each do |post| %>
        <%= link_to post_path(post) do  %>
          <div class="post__container">
            <div class="post__content text__black">
              <span class="content__title"><%= post.title %></span>
              <div class="content__description">
                <span class="content__desc__item"><%= post.user.username %> in <%= post.category.name.capitalize %></span>
                <span class="content__desc__item"><%= distance_of_time_in_words_to_now(post.created_at) %> ago</span>
                <span class="content__desc__item">
                  <%= link_to '<i class="fa-solid fa-up-long"></i>'.html_safe, like_post_path(post), data: { "turbo-method": :put } %>
                  <span class="m__font"><%= post.karma %></span>
                  <%= link_to '<i class="fa-solid fa-down-long"></i>'.html_safe, dislike_post_path(post), data: { "turbo-method": :put } %>
                </span>
                <span class="content__desc__item">
                  <% if post.comments.blank? %>
                  No comment yet
                  <% elsif post.comments.count == 1 %>
                  1 comment
                  <% else %>
                  <%= post.comments.count %> comments
                  <% end %>
                </span>
              </div>
            </div>
            <div class="line__border"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="site__content__right">
    <%= render "shared/categories" %>
    <%= render "shared/users" %>
    <%= render "shared/traders" %>
  </div>
</div>
